body {
    background-color: rgb(26, 31, 59);
    font-family: Monospace;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
    color: rgb(106, 212, 226);
}

#wrapper {
    width: 75%;
    margin: 0 auto;
}

a,
a:visited {
    color: rgb(106, 212, 226);
    display: inline;
    font-weight: bold;
}

h1 {
    font-size: 64px;
    color: greenyellow;
}

#main {
    margin-top: 10%;
}

#navbar li {
    display: inline;
    margin: 0;
    padding-inline: 16px;
}

#navbar ul {
    padding-left: 0;
}

#projects {
    text-align: justify;
}

button {
    border: none;
    font-size: 16px;
    font-weight: bolder;
    background-color: greenyellow;
    color: rgb(61, 17, 61);
    padding: 8px;
    display: inline;
}

p {
    margin-inline: 20%;
}

ul {
    list-style-type: none;
    text-align: center;
}

a.highlight {
    transition: border-style 1s, padding 1s, background-color 1s, color 1s; 
}

a.highlight:hover {
    border-style: solid;
    padding: 8px;
    background-color: black;
    color: rgb(0, 255, 0);
}

#terminalSwitch {
    padding-top: 10%;
    opacity: 64%;
}

.fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}